body{
	background-color:$fondo_principal;
	font-family: $typo_principal;
}
//Estilos nav 
.navbar-fixed-top{
	top:0;
	padding-top: 18px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar > .container .navbar-brand{
	color: $color_white;
}
.navbar-default .navbar-nav > li > a {
    color: $color_white;
}
li.shop{
	background-color: $color_fucsia;
	border-radius: 6px;
}
//Estilos carrusel
.contcarrousel{
	width:$cienporciento;
	padding: $padding_reset;
}
section.seccion_uno {
    position: relative;
    z-index: -20;
}
img.imgcarrousel{
	width:$cienporciento;	
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	height: 630px;
}
.carousel-caption{
	margin-bottom: 160px;
}
h1.titulos_principales{
	font-weight: $typo_weight_bold;
	font-size: 67.2px;
}
p.subtitulos_caption{
	font-size: 18.5px;
	font-family: $typo_secundaria;
	line-height: 26px;
}
a.btn-primary{
	background-color: $color_fucsia;
	line-height:20px;
	outline: 0;
	margin-top:40px;
	border: 0;
	font-size:13px;
	padding: 17px 26px;
}
a.btn-primary:hover, a.btn-primary:visited, a.btn-primary:active, a.btn-primary:active:focus{
	background-color: $color_fucsia;
	font-size:13px;
	padding: 17px 26px;
}
img.imgcarrousel{
	@include img_responsive;
	@include centrar_img;
}
//Segunda Seccion
section.seccion_dos{
	width: 95%;
	background-color:$color_white;
	margin: 0 auto;
	border-radius: 8px;
	margin-top: -80px;
	z-index: 999;
}
h4.titulos_ss{
	margin-top: $margin_top_bottom;
	padding: 0 108px;
	text-align: center;
	font-weight:300;
	margin-bottom: 80px;
}
i.icon_segunda_uno{
	font-size:$tamano_icon_segundasec;
	color: $color_fucsia;
}
i.icon_segunda_dos{
	font-size:$tamano_icon_segundasec;
	color: $color_celeste;
}
i.icon_segunda_tres{
	font-size:$tamano_icon_segundasec;
	color: $color_verde;
}
h3.subtitulos_seg{
	@include subtitulos_pequeños;
}
p.text_segunda{
	font-weight: $typo_weight_light;
}
div.trescajas{
	margin-bottom: 100px;
}
//Tercera Seccion
section.seccion_tres{
	background-image: url(../img/img_city.jpg);
	width: 95%;
	height: $cienporciento;
	margin: 0 auto;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
} 
div.doscajas{
	margin-top:$margin_top_bottom;
	margin-bottom: 80px;
	color: $color_white;
}
h1{
	font-family: $typo_secundaria;
	font-weight: $typo_weight_bold;
	margin-bottom: 20px;
}
p.text_st{
	@include subtitulos;
}
img.imgtablet{
	width:80%;
}
iframe{
	width: 75%;
	height:400px;
	border: 1px solid $color_white;
	margin-bottom: 60px;
}
//Cuarta Seccion
section.seccion_cuatro{
	@include base_seccion;
}
h1.titulo_scua{
	margin-top:$margin_top_bottom;
	font-family: $typo_secundaria;
	font-weight: $typo_weight_bold;
	color: #3C4858;
}
p.text_scua{
	@include subtitulos;
	margin-bottom: $margin_top_bottom;
}
div.boxproducts{
	background-color: #fff;
	height: 100%;
	padding: 11px;
	border: 13px solid #F0F0F0;
	border-radius: 8px;
	margin-bottom: 60px;
}
h4.titulo_producto{
	font-family:$typo_secundaria;
	font-weight: $typo_weight_bold;
	color: #3C4858;
}
h6.minititulo{
	color: $color_fucsia;
	margin-top: 20px;
}
img.photoproduct{
	width: 90%;
	border-radius: 8px;
	margin-top: -30px;
	box-shadow:6px 6px 6px #a1a1a1;	
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
img.photoproduct:hover{
	cursor:pointer;
    margin-top: -50px;
    text-align:left;
}
div.footer{
	margin-top: 60px;
}
p.precio{
	display: inline-block;
	margin-right: 90px;
	font-size:18px;
}
p.textproduct{
	font-size: 16px;
}
.fa-shopping-cart{
	font-size: 16px;
}
//Quinta Seccion
section.seccion_cinco{
	@include base_seccion;
	background-color: $color_white;
}
.portinfo{
	position: relative;
}
img.imgportfolio{
	width: 95%;
	height: auto;
	border-radius: 8px;
	margin-bottom: 40px;
}
.overlay {
  	position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 85%;
    width: 88%;
    opacity:0;
    transition: .5s ease;
    background-color: rgba(black, 0.5);
    opacity: -0.7;
    border-radius: 8px;
}
.overlayancho{
	height: 90%;
    width: 90%;
}
.portinfo:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-family:$typo_secundaria;
  font-weight: $typo_weight_bold;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
a.pill_uno {
    @include pill;
    background-color: $color_fucsia;
}
a.pill_dos {
    @include pill;
    background-color: $color_celeste;
}
a.pill_tres {
    @include pill;
    background-color: $color_rojo;
}
//Sexta Seccion
section.seccion_seis{
	@include base_seccion;
	background-color: $color_white;
}
img.phototeam{
	width: 100%;
	border-radius: 6px;
}
h4.name_team{
	@include subtitulos_pequeños;
	line-height: 28.21px;
}
p.team_description{
	margin-bottom: 30px;
	color: #999;
	line-height: 25.2px;
}
div.sociales{
	margin-bottom: 60px;
}
li.lisociales{
    display: inline-block;
    margin-right: 24px;
    font-size: 16px;
}
.fa-facebook{
	color: #3B5998;
}
.fa-google-plus{
	color: #DD4B39;
}
.fa-twitter{
	color:#55ACEE;
}
.fa-linkedin{
	color: #2887BD;
}
.fa-pinterest{
	color: #CC2127;
}
.fa-dribbble{
	color:#EA4C89;
}
.fa-github-square{
	color: #000;
}
//Séptima Seccion
section.seccion_siete{
	@include base_seccion;
}
.boxcard_uno{
	@include boxcard;
	background-color: $color_white;
}
.boxcard_dos{
	@include boxcard;
}
