$fondo_principal: #FFFFFF;
$typo_principal: 'Roboto', sans-serif;
$typo_secundaria: 'Roboto Slab', serif;
$typo_weight: 700;
$ancho_cienporciento: 100%;
$color_white: #fff;
$padding_reset: 0;
$color_fucsia: #E91E63;