$fondo_principal: #E0E0E0;
$typo_principal: 'Roboto', sans-serif;
$typo_secundaria: 'Roboto Slab', serif;
$typo_weight_bold: 700;
$typo_weight_light: 300;
$cienporciento: 100%;
$color_white: #fff;
$padding_reset: 0;
$color_fucsia: #E91E63;
$color_celeste: #00BCD4;
$color_verde: #4CAF50;
$color_rojo: #f44336;
$tamano_icon_segundasec: 60px;
$margin_top_bottom: 80px;